html, body {
    margin:0px;
    background-color: lightgrey;
}

#nav-menu {
    list-style: none;
    background-color: white;
    padding: 1rem;
    width:100%;
    margin:0;
}


li {
    display: inline;
    margin: 2rem;
    margin-left:auto;    
}

a {
    text-decoration: none;
    color: black;
}

#nav-logo {
    margin-right: auto;
}

#logo {
    width: 2rem;
    height: 2rem;
    margin: 2px;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer-text {
    margin-left: auto;
    margin-right: auto;
}